/* hide from ie on mac \*/
html {
    height: 100%;
    overflow: hidden;
}
#content {
    height: 100%;
}
#content div {
    margin: 10px;
}
/* end hide */
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
    font: 86% Arial, "Helvetica Neue", sans-serif;
}

